<!-- views/profile.ejs -->
<%- include('head', {}); %>

<body>
   
    <main role="main">
        <header role="banner" class="page-header text-center">
            <a id="pizza-logo" href="/menu"><img id="pizza-header" src="../img/icon.png" alt="Pizza Icon"></a>
            <h1 class="pizza-dash">Iterable Pizza</h1>
        </header>
       
        <section role="region" class="pizza-order">
          <h2>Menu</h2>
          <h3><li> <a href="/menu/pepperoni">Pepperoni</a></li><h3>
        
      </section>
        <section role="region" class="pizza-order">
            <a href="/order" class="link-order"> Click Here to Order </a>
          
        </section>
     
        <footer role="contentinfo" id="dash-footer">  
            <a href="/logout">
                <i id="logout" class="fas fa-sign-out-alt"></i>
            </a>
        </footer>
    </main>
    <%- include('scripts', {}); %>
</body>
</html>